<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvWrzPP-YzjJninbgasSUsqRh9HgManzY</string>
	<key>GCM_SENDER_ID</key>
	<string>1038277350674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.curnect.gate</string>
	<key>PROJECT_ID</key>
	<string>curnectgate-f9770</string>
	<key>STORAGE_BUCKET</key>
	<string>curnectgate-f9770.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038277350674:ios:def8d65c4c523de7f94fcb</string>
</dict>
</plist>